@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
<div class="wrap">

    @await Html.PartialAsync("_Header")
    <script asp-location="Footer">
        AjaxCart.init(false, '.mini-cart .total-mini-cart-item', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    <!-- Content -->
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

    @if (IsSectionDefined("Breadcrumb"))
    {
        @RenderSection("Breadcrumb")
    }

    <!-- Container -->
    @RenderBody()


    <!-- End Container -->
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    @await Component.InvokeAsync("Footer")

    <script asp-location="Footer">
        $(document).ready(function() {
            if ($.cookie("slogan") == null) {
                $.cookie("slogan", "open");
            }
            if ($.cookie("slogan") === "close") {
                $('#myAlert').hide();
            }     
        })

       
    </script>
</div>
<!-- End Content -->

@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
