@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOnes";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    
    <div class="page-body">


        @if (!Model.DisablePasswordChanging)
        {
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <div class="account-login bg-color-white">
                    <h2 class="title"><i class="fa fa-lock"></i> Şifre Sıfırlama</h2>
                    @if (!string.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                    <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post" class="form-my-account">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset">
                            <div class="form-fields">
                                <p class="inputs">
                                    <input asp-for="NewPassword" class="password"/>
                                    <nop-required/>
                                    <span asp-validation-for="NewPassword"></span><span class="icon-password"></span>
                                </p>
                                <p class="inputs">
                                    <input asp-for="ConfirmNewPassword" class="password"/>
                                    <nop-required/>
                                    <span asp-validation-for="ConfirmNewPassword"></span><span class="icon-password"></span>
                                </p>
                            </div>
                        </div>
                        <div class="buttons">
                            <input type="submit" name="set-password" class="button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")"/>
                        </div>
                    </form>


                </div>
            </div>

        }
    </div>
</div>
